@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 115px;
    color: #000000;
    font-family: "Open Sans";
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
}

main {
    width: 100%;
    height: 773px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.head-para {
    width: 36%;
}

.head-para h1 {
    font-size: 92px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: capitalize;
}

.head-para p {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    text-align: justify;
    font-family: "Open Sans";
    margin: 30px 0;
}

.head-para button {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    font-weight: bold;
    font-family: "Open Sans";
    text-align: center;
    width: 174px;
    height: 54px;
    background-color: #b13941;
    border: 3px solid #000000;
    width: 174px;
    height: 54px;
    background-color: #f2cd5d;
    text-transform: uppercase;
}

.head-img figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-img img {
    width: 80%;
}

.dishes {
    width: 100%;
    height: 477px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dishes-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dish {
    text-align: center;
}

.dish figure img {
    height: 220px;
}

.dish h4 {
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    font-weight: bold;
    font-family: "Open Sans";
    text-align: center;
    text-transform: capitalize;
}

.about {
    width: 100%;
    height: 777px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about figure img {
    width: 80%;

}

.about-para {
    width: 38%;
}

.about-para h2 {
    font-size: 75px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: capitalize;
}

.about-para p {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    margin: 30px 0;
    font-family: "Open Sans";
    text-transform: capitalize;
}

.about-para :nth-child(3) {
    text-decoration: underline;
}

.menu {
    width: 100%;
    height: 781px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.menu-head {
    text-align: center;
}

.menu-head h3 {
    font-size: 58px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    text-transform: capitalize;
}

.menu-head p {
    width: 882px;
    height: 67px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    font-weight: 400;
    margin: auto;
    font-family: "Open Sans";
    text-align: center;
}
.order-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

} 
.order {
    width: 499px;
    height: 312px;
    filter: drop-shadow(11.437px 17.612px 12px rgba(12, 13, 12, 0.1));
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.order img {
    width: 240px;
    height: 312px;
    background-color: #e5e5e5;
}

.order-para h3 {
    font-size: 33px;
    letter-spacing: 0px;
    line-height: 70px;
    color: #010101;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: capitalize;
}

.order-para p {
    width: 215px;
    height: 93px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #000000;
    margin: 10px 0;
    font-weight: 400;
    font-family: "Open Sans";
}

.order-para button {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    width: 118px;
    height: 37px;
    background-color: #f2cd5d;
    border: 2px solid #000000;
    text-transform: capitalize;
}

.store {
    width: 100%;
    height: 869px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.store h3 {
    font-size: 58px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    text-transform: capitalize;
}

.store .para {
    width: 882px;
    height: 67px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.store-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.store-card {
    width: 351px;
    height: 556px;
    filter: drop-shadow(11.437px 17.612px 12px rgba(12, 13, 12, 0.1));
    background-color: #ffffff;
    border: 2px solid black;
}

.store-para {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}

.store-card p {
    width: 294px;
    height: 85px;
    font-size: 17px;
    letter-spacing: 0px;
    /* line-height: 42px; */
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    /* margin: auto; */
}

/* .store-card .btn {

    background-color: #eb7f4e;
    width: 193px;
    height: 61px;
    border: 2px solid #000000;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
} */

.store-card button {
    font-size: 17px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    border: 2px solid #000000;
    width: 136px;
    height: 41px;
    background-color: #f2cd5d;
    text-transform: capitalize;
}

.profile {
    width: 100%;
    height: 735px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.profile figure {
    width: 724px;
    height: 459px;
    filter: drop-shadow(12.856px 15.321px 21.5px rgba(12, 13, 12, 0.59));
    background-color: #b13941;
}

.profile img {
    opacity: 0.631;
    width: 725px;
    height: 459px;
    background-color: #565656;
}

.profile-para h3 {
    font-size: 50px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: capitalize;
}

.profile-para p {
    width: 503px;
    height: 101px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    margin: 10px 0;
    font-weight: 400;
    font-family: "Open Sans";
}

.contact {
    width: 100%;
    /* height: 767px; */
    background-color: #ffffff;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact img {
    width: 661px;
    height: 767px;
    background-color: #ffffff;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.form h3 {
    font-size: 58px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    text-transform: capitalize;
}

::placeholder {
    font-size: 21px;
    letter-spacing: 0px;
    color: #b0b0b0;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: capitalize;

}

.inp {
    width: 651px;
    height: 42px;
    background-color: #efefef;
    border: 1.5px solid #b0b0b0;
}

.mess {
    width: 651px;
    height: 150px;
    background-color: #efefef;
    border: 1.5px solid #b0b0b0;
}

.form button {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    border: 2px solid #000000;
    width: 207px;
    height: 54px;
    background-color: #f2cd5d;
    text-transform: capitalize;
}

footer {
    width: 100%;
    height: 323px;
    background-color: #eb7f4e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.fimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list1 {
    width: 201px;
    height: 198px;
    letter-spacing: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #000000;
    text-transform: capitalize;
    font-family: "Open Sans";
}

.list1 h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 25px;
}

.list2 {
    width: 125px;
    height: 198px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #000000;
    font-family: "Open Sans";
}

.list2 h5 {
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
}

.list2 li {
    text-transform: capitalize;
    list-style: none;
}
/* 
@media (min-width: 360px) {
    footer {
        height: auto !important;
        background-color: #555555;
        color: #f2cd5d;
    }
} */
/* @media (min-width:768px) {
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
} */